body{
    background-color: antiquewhite;
    font-family: Gabriola;
   

}
h1{
    font-size: 3.5rem;
    position: center;
    right: 1rem;
    top: 1rem;
    color: rgb(0, 17, 173);
}
legend{
    font-size: 1.5rem;
    color: rgb(0, 17, 173);
    position: center;
    
}
fieldset{
    border-radius: 0.6rem;
    border-width: 0.1rem;
    padding: 2%;
    width: 30rem;
    border-color: rgb(0, 17, 173);
    align-items: center;
}
input{
    border-radius: 0.6rem;
    border-width: 0.1rem;
    padding: 2%;
    width: fit-content;
    border-color: rgb(0, 17, 173);
    background-color:aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
::placeholder{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100%;
}
button{
    border: 10rem;
    border-radius: 0.6rem;
    padding: 2%;
    background-color: rgb(150, 139, 255);
}
.login{
    position: center;
    right: 20%;
    bottom: 20%;
    border-radius: 12;
    border-color: blue;
    border-style: dashed;
    border-radius: 2rem;
    border-width: 0.1rem;

    
    
}
label{
    font-size: x-large;
}

select{
    background-origin: padding-box;
    background-color: antiquewhite;
    padding: 0.5rem;
    border-radius:2rem;
    font-family: Gabriola;
    font-size:x-large;
}
option{
    background-color: antiquewhite;
    background-color: aliceblue;

}